img {
  float: left;
  height: 600px;
  width: 600px;
  -webkit-shape-outside: ellipse(224px 320px at 35.1% 50%);
          shape-outside: ellipse(224px 320px at 35.1% 50%);
}

body {
  background-color: #00001a;
  color: #fff;
  font-family: "Libre Baskerville", serif;
  line-height: 1.7;
  position: relative;
  width: 100%;
}

main,
.title {
  margin: 0 auto;
  max-width: 60rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 .5rem 0;
  padding: 3.5rem 0 0;
}
.title span {
  color: #cfedfc;
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

@supports ((-webkit-shape-outside: circle()) or (shape-outside: circle())) {
  .title {
    padding: 2.0rem 0 0;
  }
}
.intro {
  color: #cc9966;
  font-style: italic;
  font-size: 1.15rem;
  text-shadow: 1px 1px 1px #333;
}

p {
  font-size: .9rem;
  margin: 0;
  padding-top: 1.5rem;
}

.first {
  padding-top: 1.22rem;
}
