@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #02080f;
}
.stars-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-radial-gradient(center ellipse, #061a33 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #061a33 0%, #000000 100%);
  background-size: 110%;
  background-position: 100% 100%;
  overflow: hidden;
}
.title-wrapper {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.title-wrapper .title {
  width: 31vw;
  position: absolute;
  text-align: justify;
  top: 34.2vh;
  left: 45vw;
  right: 15%;
  font-size: 5vw;
  line-height: 1.3;
  font-weight: normal;
  margin: 0;
  color: #fff;
  color: #030f1d;
  opacity: .8;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.title-wrapper .title:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(325deg, #fcf9ef 0%, rgba(252, 249, 239, 0.7) 30%, rgba(252, 249, 239, 0.01) 100%);
  background: linear-gradient(125deg, #fcf9ef 0%, rgba(252, 249, 239, 0.7) 30%, rgba(252, 249, 239, 0.01) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 100%;
  -webkit-background-clip: text;
  overflow: hidden;
  color: transparent;
}
.moon-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.moon {
  width: 14vw;
  height: 14vw;
  position: absolute;
  top: 33vh;
  left: 24vw;
  border-radius: 50%;
  //background: #e7e1df url(https://www.dropbox.com/s/l1ef0fihcjnftvs/moon.png?dl=1) 50% 50% no-repeat;
  background-size: 102%;
  box-shadow: 0px 0px 80px 0px rgba(183, 176, 130, 0.6), 0px 0px 350px 0px rgba(222, 221, 215, 0.3);
}
.moon:after {
  content: "";
  display: block;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0px 0px 150px 0px rgba(183, 176, 130, 0.1), 0px 0px 340px 0px rgba(222, 221, 215, 0.1);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.stars-cluster {
  position: absolute;
  left: 3%;
  right: 3%;
  top: 3%;
  bottom: 3%;
}
.stars-cluster.stars-cluster-1 {
  left: 20%;
  right: 25%;
  top: 20%;
  bottom: 40%;
}
.stars-cluster.stars-cluster-1 .star-7,
.stars-cluster.stars-cluster-1 .star-22,
.stars-cluster.stars-cluster-1 .star-30 {
  -webkit-animation: shooting-star 10s ease-out 1s forwards;
          animation: shooting-star 10s ease-out 1s forwards;
}
.stars-cluster.stars-cluster-1 .star-22 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.stars-cluster.stars-cluster-1 .star-30 {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.stars-cluster.stars-cluster-1 .star-20 {
  -webkit-animation: shooting-star-2 8s ease-out 5s forwards infinite;
          animation: shooting-star-2 8s ease-out 5s forwards infinite;
}
.stars-cluster.stars-cluster-2 .star-11,
.stars-cluster.stars-cluster-2 .star-16 {
  -webkit-animation: shooting-star 10s ease-out 8s forwards;
          animation: shooting-star 10s ease-out 8s forwards;
}
.stars-cluster.stars-cluster-2 .star-16 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.stars-cluster.stars-cluster-2 .star-7 {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.stars-cluster.stars-cluster-2 .star-4 {
  -webkit-animation: shooting-star-2 11s ease-out 6s forwards infinite;
          animation: shooting-star-2 11s ease-out 6s forwards infinite;
}
.star {
  background-color: #f3f2d6;
  border-radius: 50%;
  position: absolute;
  -webkit-animation-name: pulsate;
          animation-name: pulsate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
}
.stars-cluster-1 .star-1 {
  width: 3px;
  height: 3px;
  opacity: 0.60507935;
  top: 75.54670011%;
  left: 93.74779935%;
  -webkit-animation-duration: 1.66277237s;
          animation-duration: 1.66277237s;
  -webkit-animation-delay: 0.65598092s;
          animation-delay: 0.65598092s;
}
.stars-cluster-1 .star-2 {
  width: 3px;
  height: 3px;
  opacity: 0.58219995;
  top: 28.95337793%;
  left: 49.49349631%;
  -webkit-animation-duration: 1.08594453s;
          animation-duration: 1.08594453s;
  -webkit-animation-delay: 0.66322189s;
          animation-delay: 0.66322189s;
}
.stars-cluster-1 .star-3 {
  width: 3px;
  height: 3px;
  opacity: 0.31881321;
  top: 85.64771728%;
  left: 47.8929268%;
  -webkit-animation-duration: 0.84799967s;
          animation-duration: 0.84799967s;
  -webkit-animation-delay: 0.15239474s;
          animation-delay: 0.15239474s;
}
.stars-cluster-1 .star-4 {
  width: 2px;
  height: 2px;
  opacity: 0.33984247;
  top: 82.87712459%;
  left: 42.34270847%;
  -webkit-animation-duration: 2.11016539s;
          animation-duration: 2.11016539s;
  -webkit-animation-delay: 0.54148369s;
          animation-delay: 0.54148369s;
}
.stars-cluster-1 .star-5 {
  width: 2px;
  height: 2px;
  opacity: 0.72477131;
  top: 1.56349766%;
  left: 6.24467123%;
  -webkit-animation-duration: 1.88488549s;
          animation-duration: 1.88488549s;
  -webkit-animation-delay: 0.04048604s;
          animation-delay: 0.04048604s;
}
.stars-cluster-1 .star-6 {
  width: 3px;
  height: 3px;
  opacity: 0.23375977;
  top: 94.13485695%;
  left: 32.73907406%;
  -webkit-animation-duration: 0.477721s;
          animation-duration: 0.477721s;
  -webkit-animation-delay: 0.21010339s;
          animation-delay: 0.21010339s;
}
.stars-cluster-1 .star-7 {
  width: 2px;
  height: 2px;
  opacity: 0.22498617;
  top: 41.73548794%;
  left: 31.51931399%;
  -webkit-animation-duration: 1.23084668s;
          animation-duration: 1.23084668s;
  -webkit-animation-delay: 0.05050894s;
          animation-delay: 0.05050894s;
}
.stars-cluster-1 .star-8 {
  width: 2px;
  height: 2px;
  opacity: 0.39807661;
  top: 18.77657424%;
  left: 32.25136942%;
  -webkit-animation-duration: 1.19189214s;
          animation-duration: 1.19189214s;
  -webkit-animation-delay: 0.69154326s;
          animation-delay: 0.69154326s;
}
.stars-cluster-1 .star-9 {
  width: 2px;
  height: 2px;
  opacity: 0.78979877;
  top: 65.84091522%;
  left: 53.53929875%;
  -webkit-animation-duration: 0.83690767s;
          animation-duration: 0.83690767s;
  -webkit-animation-delay: 0.65216289s;
          animation-delay: 0.65216289s;
}
.stars-cluster-1 .star-10 {
  width: 2px;
  height: 2px;
  opacity: 0.3938607;
  top: 48.68453557%;
  left: 1.80842178%;
  -webkit-animation-duration: 1.67166441s;
          animation-duration: 1.67166441s;
  -webkit-animation-delay: 0.81616144s;
          animation-delay: 0.81616144s;
}
.stars-cluster-1 .star-11 {
  width: 2px;
  height: 2px;
  opacity: 0.63411475;
  top: 73.49046622%;
  left: 37.05558779%;
  -webkit-animation-duration: 0.97199422s;
          animation-duration: 0.97199422s;
  -webkit-animation-delay: 0.36087687s;
          animation-delay: 0.36087687s;
}
.stars-cluster-1 .star-12 {
  width: 1px;
  height: 1px;
  opacity: 0.330778;
  top: 83.04316406%;
  left: 25.33817308%;
  -webkit-animation-duration: 1.1273969s;
          animation-duration: 1.1273969s;
  -webkit-animation-delay: 0.02953286s;
          animation-delay: 0.02953286s;
}
.stars-cluster-1 .star-13 {
  width: 2px;
  height: 2px;
  opacity: 0.70379329;
  top: 23.97040937%;
  left: 30.2128061%;
  -webkit-animation-duration: 1.59762904s;
          animation-duration: 1.59762904s;
  -webkit-animation-delay: 0.53839812s;
          animation-delay: 0.53839812s;
}
.stars-cluster-1 .star-14 {
  width: 1px;
  height: 1px;
  opacity: 0.65536653;
  top: 45.18439879%;
  left: 65.7085865%;
  -webkit-animation-duration: 2.38037115s;
          animation-duration: 2.38037115s;
  -webkit-animation-delay: 0.87068552s;
          animation-delay: 0.87068552s;
}
.stars-cluster-1 .star-15 {
  width: 2px;
  height: 2px;
  opacity: 0.41227441;
  top: 35.09073986%;
  left: 91.51888136%;
  -webkit-animation-duration: 1.41092679s;
          animation-duration: 1.41092679s;
  -webkit-animation-delay: 0.44677651s;
          animation-delay: 0.44677651s;
}
.stars-cluster-1 .star-16 {
  width: 2px;
  height: 2px;
  opacity: 0.67616693;
  top: 91.03624329%;
  left: 68.4085367%;
  -webkit-animation-duration: 1.39372985s;
          animation-duration: 1.39372985s;
  -webkit-animation-delay: 0.4453935s;
          animation-delay: 0.4453935s;
}
.stars-cluster-1 .star-17 {
  width: 2px;
  height: 2px;
  opacity: 0.29530728;
  top: 31.32750781%;
  left: 4.80006596%;
  -webkit-animation-duration: 1.81912429s;
          animation-duration: 1.81912429s;
  -webkit-animation-delay: 0.89227455s;
          animation-delay: 0.89227455s;
}
.stars-cluster-1 .star-18 {
  width: 2px;
  height: 2px;
  opacity: 0.75118557;
  top: 7.51237671%;
  left: 86.03878538%;
  -webkit-animation-duration: 1.90773716s;
          animation-duration: 1.90773716s;
  -webkit-animation-delay: 0.50352754s;
          animation-delay: 0.50352754s;
}
.stars-cluster-1 .star-19 {
  width: 1px;
  height: 1px;
  opacity: 0.52300725;
  top: 62.15117094%;
  left: 35.47800411%;
  -webkit-animation-duration: 2.02229176s;
          animation-duration: 2.02229176s;
  -webkit-animation-delay: 0.43995726s;
          animation-delay: 0.43995726s;
}
.stars-cluster-1 .star-20 {
  width: 3px;
  height: 3px;
  opacity: 0.62895964;
  top: 78.56788312%;
  left: 60.15917654%;
  -webkit-animation-duration: 1.8442761s;
          animation-duration: 1.8442761s;
  -webkit-animation-delay: 0.30954162s;
          animation-delay: 0.30954162s;
}
.stars-cluster-1 .star-21 {
  width: 2px;
  height: 2px;
  opacity: 0.61862126;
  top: 2.21042444%;
  left: 88.59120584%;
  -webkit-animation-duration: 2.12578574s;
          animation-duration: 2.12578574s;
  -webkit-animation-delay: 0.07969162s;
          animation-delay: 0.07969162s;
}
.stars-cluster-1 .star-22 {
  width: 1px;
  height: 1px;
  opacity: 0.35345545;
  top: 19.89475221%;
  left: 60.9985614%;
  -webkit-animation-duration: 2.08382727s;
          animation-duration: 2.08382727s;
  -webkit-animation-delay: 0.3867207s;
          animation-delay: 0.3867207s;
}
.stars-cluster-1 .star-23 {
  width: 1px;
  height: 1px;
  opacity: 0.56726512;
  top: 60.2717604%;
  left: 95.81807416%;
  -webkit-animation-duration: 0.4931986s;
          animation-duration: 0.4931986s;
  -webkit-animation-delay: 0.81934431s;
          animation-delay: 0.81934431s;
}
.stars-cluster-1 .star-24 {
  width: 1px;
  height: 1px;
  opacity: 0.72779924;
  top: 2.73884274%;
  left: 31.58505233%;
  -webkit-animation-duration: 0.80453404s;
          animation-duration: 0.80453404s;
  -webkit-animation-delay: 0.96797082s;
          animation-delay: 0.96797082s;
}
.stars-cluster-1 .star-25 {
  width: 1px;
  height: 1px;
  opacity: 0.25111459;
  top: 85.94296863%;
  left: 91.19850942%;
  -webkit-animation-duration: 0.63677043s;
          animation-duration: 0.63677043s;
  -webkit-animation-delay: 0.4635952s;
          animation-delay: 0.4635952s;
}
.stars-cluster-1 .star-26 {
  width: 3px;
  height: 3px;
  opacity: 0.70435745;
  top: 47.57709994%;
  left: 66.6510304%;
  -webkit-animation-duration: 1.71710729s;
          animation-duration: 1.71710729s;
  -webkit-animation-delay: 0.67773839s;
          animation-delay: 0.67773839s;
}
.stars-cluster-1 .star-27 {
  width: 2px;
  height: 2px;
  opacity: 0.5843298;
  top: 27.98625345%;
  left: 0.04624825%;
  -webkit-animation-duration: 1.33380679s;
          animation-duration: 1.33380679s;
  -webkit-animation-delay: 0.57504549s;
          animation-delay: 0.57504549s;
}
.stars-cluster-1 .star-28 {
  width: 1px;
  height: 1px;
  opacity: 0.27276654;
  top: 62.95634015%;
  left: 3.92416792%;
  -webkit-animation-duration: 0.92987689s;
          animation-duration: 0.92987689s;
  -webkit-animation-delay: 0.0733547s;
          animation-delay: 0.0733547s;
}
.stars-cluster-1 .star-29 {
  width: 2px;
  height: 2px;
  opacity: 0.52085206;
  top: 7.93646963%;
  left: 17.26027222%;
  -webkit-animation-duration: 2.324583s;
          animation-duration: 2.324583s;
  -webkit-animation-delay: 0.48792667s;
          animation-delay: 0.48792667s;
}
.stars-cluster-1 .star-30 {
  width: 1px;
  height: 1px;
  opacity: 0.26411909;
  top: 3.15442125%;
  left: 45.25383376%;
  -webkit-animation-duration: 1.37859379s;
          animation-duration: 1.37859379s;
  -webkit-animation-delay: 0.73569032s;
          animation-delay: 0.73569032s;
}
.stars-cluster-1 .star-31 {
  width: 2px;
  height: 2px;
  opacity: 0.51230507;
  top: 55.4471195%;
  left: 50.07027239%;
  -webkit-animation-duration: 1.66392156s;
          animation-duration: 1.66392156s;
  -webkit-animation-delay: 0.1991808s;
          animation-delay: 0.1991808s;
}
.stars-cluster-1 .star-32 {
  width: 3px;
  height: 3px;
  opacity: 0.61441771;
  top: 56.72386342%;
  left: 78.42973308%;
  -webkit-animation-duration: 1.33249759s;
          animation-duration: 1.33249759s;
  -webkit-animation-delay: 0.08297252s;
          animation-delay: 0.08297252s;
}
.stars-cluster-1 .star-33 {
  width: 3px;
  height: 3px;
  opacity: 0.21308751;
  top: 44.94065996%;
  left: 39.73950299%;
  -webkit-animation-duration: 1.85454282s;
          animation-duration: 1.85454282s;
  -webkit-animation-delay: 0.42532956s;
          animation-delay: 0.42532956s;
}
.stars-cluster-1 .star-34 {
  width: 2px;
  height: 2px;
  opacity: 0.38057523;
  top: 31.46677886%;
  left: 4.23781748%;
  -webkit-animation-duration: 1.35081952s;
          animation-duration: 1.35081952s;
  -webkit-animation-delay: 0.51895838s;
          animation-delay: 0.51895838s;
}
.stars-cluster-1 .star-35 {
  width: 3px;
  height: 3px;
  opacity: 0.33216037;
  top: 0.06590283%;
  left: 5.08768831%;
  -webkit-animation-duration: 1.92493279s;
          animation-duration: 1.92493279s;
  -webkit-animation-delay: 0.25567124s;
          animation-delay: 0.25567124s;
}
.stars-cluster-1 .star-36 {
  width: 3px;
  height: 3px;
  opacity: 0.71715627;
  top: 64.11293959%;
  left: 52.44794239%;
  -webkit-animation-duration: 1.08512742s;
          animation-duration: 1.08512742s;
  -webkit-animation-delay: 0.44617647s;
          animation-delay: 0.44617647s;
}
.stars-cluster-1 .star-37 {
  width: 2px;
  height: 2px;
  opacity: 0.58935866;
  top: 26.8066904%;
  left: 40.22161588%;
  -webkit-animation-duration: 0.66711123s;
          animation-duration: 0.66711123s;
  -webkit-animation-delay: 0.23909714s;
          animation-delay: 0.23909714s;
}
.stars-cluster-1 .star-38 {
  width: 2px;
  height: 2px;
  opacity: 0.7865505;
  top: 55.00765876%;
  left: 39.65820707%;
  -webkit-animation-duration: 1.05239999s;
          animation-duration: 1.05239999s;
  -webkit-animation-delay: 0.92958627s;
          animation-delay: 0.92958627s;
}
.stars-cluster-1 .star-39 {
  width: 3px;
  height: 3px;
  opacity: 0.40170302;
  top: 66.7308663%;
  left: 21.22778946%;
  -webkit-animation-duration: 1.65170855s;
          animation-duration: 1.65170855s;
  -webkit-animation-delay: 0.3800996s;
          animation-delay: 0.3800996s;
}
.stars-cluster-1 .star-40 {
  width: 1px;
  height: 1px;
  opacity: 0.55120914;
  top: 67.24792933%;
  left: 43.04167016%;
  -webkit-animation-duration: 0.44978061s;
          animation-duration: 0.44978061s;
  -webkit-animation-delay: 0.04524276s;
          animation-delay: 0.04524276s;
}
.stars-cluster-2 .star-1 {
  width: 3px;
  height: 3px;
  opacity: 0.70480912;
  top: 27.71382409%;
  left: 21.66573161%;
  -webkit-animation-duration: 0.92135905s;
          animation-duration: 0.92135905s;
  -webkit-animation-delay: 0.02803749s;
          animation-delay: 0.02803749s;
}
.stars-cluster-2 .star-2 {
  width: 2px;
  height: 2px;
  opacity: 0.29653085;
  top: 89.02223867%;
  left: 94.81253899%;
  -webkit-animation-duration: 0.41842082s;
          animation-duration: 0.41842082s;
  -webkit-animation-delay: 0.55867434s;
          animation-delay: 0.55867434s;
}
.stars-cluster-2 .star-3 {
  width: 3px;
  height: 3px;
  opacity: 0.54377958;
  top: 70.43671503%;
  left: 75.05645121%;
  -webkit-animation-duration: 2.31055625s;
          animation-duration: 2.31055625s;
  -webkit-animation-delay: 0.97187651s;
          animation-delay: 0.97187651s;
}
.stars-cluster-2 .star-4 {
  width: 2px;
  height: 2px;
  opacity: 0.41052823;
  top: 19.06214152%;
  left: 18.95184543%;
  -webkit-animation-duration: 2.351422s;
          animation-duration: 2.351422s;
  -webkit-animation-delay: 0.78794225s;
          animation-delay: 0.78794225s;
}
.stars-cluster-2 .star-5 {
  width: 3px;
  height: 3px;
  opacity: 0.59135062;
  top: 4.72307019%;
  left: 86.28571369%;
  -webkit-animation-duration: 0.51003926s;
          animation-duration: 0.51003926s;
  -webkit-animation-delay: 0.42471891s;
          animation-delay: 0.42471891s;
}
.stars-cluster-2 .star-6 {
  width: 3px;
  height: 3px;
  opacity: 0.50588205;
  top: 80.45484852%;
  left: 72.83291388%;
  -webkit-animation-duration: 1.67660569s;
          animation-duration: 1.67660569s;
  -webkit-animation-delay: 0.76545904s;
          animation-delay: 0.76545904s;
}
.stars-cluster-2 .star-7 {
  width: 3px;
  height: 3px;
  opacity: 0.70159516;
  top: 1.11213613%;
  left: 72.89515333%;
  -webkit-animation-duration: 2.23715321s;
          animation-duration: 2.23715321s;
  -webkit-animation-delay: 0.53390538s;
          animation-delay: 0.53390538s;
}
.stars-cluster-2 .star-8 {
  width: 3px;
  height: 3px;
  opacity: 0.61800867;
  top: 80.1496913%;
  left: 10.94914405%;
  -webkit-animation-duration: 0.5751781s;
          animation-duration: 0.5751781s;
  -webkit-animation-delay: 0.71269036s;
          animation-delay: 0.71269036s;
}
.stars-cluster-2 .star-9 {
  width: 3px;
  height: 3px;
  opacity: 0.57481505;
  top: 7.89771155%;
  left: 59.96697112%;
  -webkit-animation-duration: 0.85944575s;
          animation-duration: 0.85944575s;
  -webkit-animation-delay: 0.5117901s;
          animation-delay: 0.5117901s;
}
.stars-cluster-2 .star-10 {
  width: 3px;
  height: 3px;
  opacity: 0.60540898;
  top: 7.55502481%;
  left: 1.79539619%;
  -webkit-animation-duration: 1.8176844s;
          animation-duration: 1.8176844s;
  -webkit-animation-delay: 0.22148688s;
          animation-delay: 0.22148688s;
}
.stars-cluster-2 .star-11 {
  width: 4px;
  height: 4px;
  opacity: 0.41036181;
  top: 9.55822819%;
  left: 44.12822386%;
  -webkit-animation-duration: 1.73086113s;
          animation-duration: 1.73086113s;
  -webkit-animation-delay: 0.43420138s;
          animation-delay: 0.43420138s;
}
.stars-cluster-2 .star-12 {
  width: 3px;
  height: 3px;
  opacity: 0.7839707;
  top: 29.21732073%;
  left: 17.37296048%;
  -webkit-animation-duration: 1.38210844s;
          animation-duration: 1.38210844s;
  -webkit-animation-delay: 0.14092175s;
          animation-delay: 0.14092175s;
}
.stars-cluster-2 .star-13 {
  width: 2px;
  height: 2px;
  opacity: 0.62246328;
  top: 15.49897366%;
  left: 23.43113155%;
  -webkit-animation-duration: 1.16697727s;
          animation-duration: 1.16697727s;
  -webkit-animation-delay: 0.65874408s;
          animation-delay: 0.65874408s;
}
.stars-cluster-2 .star-14 {
  width: 3px;
  height: 3px;
  opacity: 0.43172947;
  top: 75.07940393%;
  left: 53.68611405%;
  -webkit-animation-duration: 1.86496317s;
          animation-duration: 1.86496317s;
  -webkit-animation-delay: 0.96141216s;
          animation-delay: 0.96141216s;
}
.stars-cluster-2 .star-15 {
  width: 3px;
  height: 3px;
  opacity: 0.52256176;
  top: 71.28392996%;
  left: 11.53196523%;
  -webkit-animation-duration: 1.40778113s;
          animation-duration: 1.40778113s;
  -webkit-animation-delay: 0.22607578s;
          animation-delay: 0.22607578s;
}
.stars-cluster-2 .star-16 {
  width: 4px;
  height: 4px;
  opacity: 0.71289879;
  top: 41.74960209%;
  left: 46.95652481%;
  -webkit-animation-duration: 1.64985152s;
          animation-duration: 1.64985152s;
  -webkit-animation-delay: 0.88594751s;
          animation-delay: 0.88594751s;
}
.stars-cluster-2 .star-17 {
  width: 2px;
  height: 2px;
  opacity: 0.45903426;
  top: 11.71044435%;
  left: 67.52500541%;
  -webkit-animation-duration: 1.23683273s;
          animation-duration: 1.23683273s;
  -webkit-animation-delay: 0.49741424s;
          animation-delay: 0.49741424s;
}
.stars-cluster-2 .star-18 {
  width: 2px;
  height: 2px;
  opacity: 0.53753032;
  top: 97.27484018%;
  left: 93.95327703%;
  -webkit-animation-duration: 2.22988281s;
          animation-duration: 2.22988281s;
  -webkit-animation-delay: 0.92958948s;
          animation-delay: 0.92958948s;
}
.stars-cluster-2 .star-19 {
  width: 2px;
  height: 2px;
  opacity: 0.3292413;
  top: 28.5356083%;
  left: 2.52240626%;
  -webkit-animation-duration: 1.65383859s;
          animation-duration: 1.65383859s;
  -webkit-animation-delay: 0.14859109s;
          animation-delay: 0.14859109s;
}
.stars-cluster-2 .star-20 {
  width: 2px;
  height: 2px;
  opacity: 0.56379393;
  top: 5.70822479%;
  left: 97.02567179%;
  -webkit-animation-duration: 1.79769431s;
          animation-duration: 1.79769431s;
  -webkit-animation-delay: 0.92712137s;
          animation-delay: 0.92712137s;
}
.stars-cluster-2 .star-21 {
  width: 3px;
  height: 3px;
  opacity: 0.30641898;
  top: 33.55251402%;
  left: 64.80253832%;
  -webkit-animation-duration: 1.90934657s;
          animation-duration: 1.90934657s;
  -webkit-animation-delay: 0.52493239s;
          animation-delay: 0.52493239s;
}
.stars-cluster-2 .star-22 {
  width: 3px;
  height: 3px;
  opacity: 0.45590498;
  top: 9.69935749%;
  left: 25.36613951%;
  -webkit-animation-duration: 0.61667195s;
          animation-duration: 0.61667195s;
  -webkit-animation-delay: 0.88362281s;
          animation-delay: 0.88362281s;
}
.stars-cluster-2 .star-23 {
  width: 2px;
  height: 2px;
  opacity: 0.68158502;
  top: 40.80530924%;
  left: 16.598196%;
  -webkit-animation-duration: 1.46465766s;
          animation-duration: 1.46465766s;
  -webkit-animation-delay: 0.75872617s;
          animation-delay: 0.75872617s;
}
.stars-cluster-2 .star-24 {
  width: 2px;
  height: 2px;
  opacity: 0.26728897;
  top: 91.05445009%;
  left: 4.91257857%;
  -webkit-animation-duration: 1.88457592s;
          animation-duration: 1.88457592s;
  -webkit-animation-delay: 0.90004675s;
          animation-delay: 0.90004675s;
}
.stars-cluster-2 .star-25 {
  width: 4px;
  height: 4px;
  opacity: 0.76465532;
  top: 84.40402723%;
  left: 16.5873179%;
  -webkit-animation-duration: 1.94363219s;
          animation-duration: 1.94363219s;
  -webkit-animation-delay: 0.13705626s;
          animation-delay: 0.13705626s;
}
.stars-cluster-2 .star-26 {
  width: 3px;
  height: 3px;
  opacity: 0.57892565;
  top: 61.58796323%;
  left: 14.62447355%;
  -webkit-animation-duration: 1.00850175s;
          animation-duration: 1.00850175s;
  -webkit-animation-delay: 0.84134453s;
          animation-delay: 0.84134453s;
}
.stars-cluster-2 .star-27 {
  width: 3px;
  height: 3px;
  opacity: 0.39281856;
  top: 0.18204134%;
  left: 26.96502358%;
  -webkit-animation-duration: 1.67542279s;
          animation-duration: 1.67542279s;
  -webkit-animation-delay: 0.97251207s;
          animation-delay: 0.97251207s;
}
.stars-cluster-2 .star-28 {
  width: 2px;
  height: 2px;
  opacity: 0.78931331;
  top: 20.32718654%;
  left: 51.05381145%;
  -webkit-animation-duration: 2.31447419s;
          animation-duration: 2.31447419s;
  -webkit-animation-delay: 0.80351845s;
          animation-delay: 0.80351845s;
}
.stars-cluster-2 .star-29 {
  width: 4px;
  height: 4px;
  opacity: 0.3560897;
  top: 22.75151261%;
  left: 56.94339611%;
  -webkit-animation-duration: 0.98751077s;
          animation-duration: 0.98751077s;
  -webkit-animation-delay: 0.84971835s;
          animation-delay: 0.84971835s;
}
.stars-cluster-2 .star-30 {
  width: 4px;
  height: 4px;
  opacity: 0.43246673;
  top: 30.03232416%;
  left: 4.17455877%;
  -webkit-animation-duration: 1.73396936s;
          animation-duration: 1.73396936s;
  -webkit-animation-delay: 0.9719778s;
          animation-delay: 0.9719778s;
}
.stars-cluster-2 .star-31 {
  width: 4px;
  height: 4px;
  opacity: 0.69351391;
  top: 54.8833072%;
  left: 42.00948174%;
  -webkit-animation-duration: 1.68977579s;
          animation-duration: 1.68977579s;
  -webkit-animation-delay: 0.85256311s;
          animation-delay: 0.85256311s;
}
.stars-cluster-2 .star-32 {
  width: 3px;
  height: 3px;
  opacity: 0.58773299;
  top: 28.38288527%;
  left: 35.67766787%;
  -webkit-animation-duration: 0.41933031s;
          animation-duration: 0.41933031s;
  -webkit-animation-delay: 0.82826344s;
          animation-delay: 0.82826344s;
}
.stars-cluster-2 .star-33 {
  width: 3px;
  height: 3px;
  opacity: 0.58681912;
  top: 54.31658044%;
  left: 41.4831612%;
  -webkit-animation-duration: 0.46171864s;
          animation-duration: 0.46171864s;
  -webkit-animation-delay: 0.06103848s;
          animation-delay: 0.06103848s;
}
.stars-cluster-2 .star-34 {
  width: 3px;
  height: 3px;
  opacity: 0.27414088;
  top: 64.22534478%;
  left: 95.16070762%;
  -webkit-animation-duration: 1.2843639s;
          animation-duration: 1.2843639s;
  -webkit-animation-delay: 0.35473061s;
          animation-delay: 0.35473061s;
}
.stars-cluster-2 .star-35 {
  width: 3px;
  height: 3px;
  opacity: 0.78880481;
  top: 3.86847437%;
  left: 81.33082755%;
  -webkit-animation-duration: 2.28965793s;
          animation-duration: 2.28965793s;
  -webkit-animation-delay: 0.06472458s;
          animation-delay: 0.06472458s;
}
.stars-cluster-2 .star-36 {
  width: 2px;
  height: 2px;
  opacity: 0.46286648;
  top: 19.00591364%;
  left: 94.29628158%;
  -webkit-animation-duration: 1.68246991s;
          animation-duration: 1.68246991s;
  -webkit-animation-delay: 0.08062813s;
          animation-delay: 0.08062813s;
}
.stars-cluster-2 .star-37 {
  width: 3px;
  height: 3px;
  opacity: 0.56675554;
  top: 49.36957096%;
  left: 84.79561775%;
  -webkit-animation-duration: 1.65838617s;
          animation-duration: 1.65838617s;
  -webkit-animation-delay: 0.71360412s;
          animation-delay: 0.71360412s;
}
.stars-cluster-2 .star-38 {
  width: 2px;
  height: 2px;
  opacity: 0.65234963;
  top: 97.67418969%;
  left: 11.44380309%;
  -webkit-animation-duration: 1.76900082s;
          animation-duration: 1.76900082s;
  -webkit-animation-delay: 0.7335017s;
          animation-delay: 0.7335017s;
}
.stars-cluster-2 .star-39 {
  width: 4px;
  height: 4px;
  opacity: 0.70114858;
  top: 49.6822505%;
  left: 86.01719197%;
  -webkit-animation-duration: 0.61475903s;
          animation-duration: 0.61475903s;
  -webkit-animation-delay: 0.13831007s;
          animation-delay: 0.13831007s;
}
.stars-cluster-2 .star-40 {
  width: 3px;
  height: 3px;
  opacity: 0.51980553;
  top: 7.92241429%;
  left: 89.5923665%;
  -webkit-animation-duration: 1.69571082s;
          animation-duration: 1.69571082s;
  -webkit-animation-delay: 0.00735815s;
          animation-delay: 0.00735815s;
}
.stars-cluster-3 .star-1 {
  width: 4px;
  height: 4px;
  opacity: 0.6030941;
  top: 41.16067106%;
  left: 72.27943423%;
  -webkit-animation-duration: 0.70428468s;
          animation-duration: 0.70428468s;
  -webkit-animation-delay: 0.79655742s;
          animation-delay: 0.79655742s;
}
.stars-cluster-3 .star-2 {
  width: 3px;
  height: 3px;
  opacity: 0.35056419;
  top: 71.02909146%;
  left: 91.41192732%;
  -webkit-animation-duration: 2.29722328s;
          animation-duration: 2.29722328s;
  -webkit-animation-delay: 0.45030404s;
          animation-delay: 0.45030404s;
}
.stars-cluster-3 .star-3 {
  width: 2px;
  height: 2px;
  opacity: 0.34654702;
  top: 20.22518446%;
  left: 18.11964558%;
  -webkit-animation-duration: 2.30045025s;
          animation-duration: 2.30045025s;
  -webkit-animation-delay: 0.637743s;
          animation-delay: 0.637743s;
}
.stars-cluster-3 .star-4 {
  width: 3px;
  height: 3px;
  opacity: 0.72464476;
  top: 98.08874351%;
  left: 29.10673388%;
  -webkit-animation-duration: 2.32229639s;
          animation-duration: 2.32229639s;
  -webkit-animation-delay: 0.74858445s;
          animation-delay: 0.74858445s;
}
.stars-cluster-3 .star-5 {
  width: 5px;
  height: 5px;
  opacity: 0.54110776;
  top: 6.72078524%;
  left: 47.14008686%;
  -webkit-animation-duration: 1.48749097s;
          animation-duration: 1.48749097s;
  -webkit-animation-delay: 0.75267932s;
          animation-delay: 0.75267932s;
}
.stars-cluster-3 .star-6 {
  width: 3px;
  height: 3px;
  opacity: 0.32346193;
  top: 57.16798047%;
  left: 83.24331718%;
  -webkit-animation-duration: 2.29529754s;
          animation-duration: 2.29529754s;
  -webkit-animation-delay: 0.00101985s;
          animation-delay: 0.00101985s;
}
.stars-cluster-3 .star-7 {
  width: 3px;
  height: 3px;
  opacity: 0.21831881;
  top: 40.20355835%;
  left: 93.06009931%;
  -webkit-animation-duration: 0.71190927s;
          animation-duration: 0.71190927s;
  -webkit-animation-delay: 0.07249409s;
          animation-delay: 0.07249409s;
}
.stars-cluster-3 .star-8 {
  width: 3px;
  height: 3px;
  opacity: 0.53637513;
  top: 96.30665185%;
  left: 81.6158463%;
  -webkit-animation-duration: 2.38807865s;
          animation-duration: 2.38807865s;
  -webkit-animation-delay: 0.24831924s;
          animation-delay: 0.24831924s;
}
.stars-cluster-3 .star-9 {
  width: 5px;
  height: 5px;
  opacity: 0.51108199;
  top: 63.41632577%;
  left: 7.59552626%;
  -webkit-animation-duration: 0.91156398s;
          animation-duration: 0.91156398s;
  -webkit-animation-delay: 0.48634691s;
          animation-delay: 0.48634691s;
}
.stars-cluster-3 .star-10 {
  width: 4px;
  height: 4px;
  opacity: 0.71786586;
  top: 78.60713184%;
  left: 40.44044844%;
  -webkit-animation-duration: 1.58432111s;
          animation-duration: 1.58432111s;
  -webkit-animation-delay: 0.65121844s;
          animation-delay: 0.65121844s;
}
.stars-cluster-3 .star-11 {
  width: 4px;
  height: 4px;
  opacity: 0.51027278;
  top: 85.31585231%;
  left: 99.34410702%;
  -webkit-animation-duration: 0.75086547s;
          animation-duration: 0.75086547s;
  -webkit-animation-delay: 0.86924694s;
          animation-delay: 0.86924694s;
}
.stars-cluster-3 .star-12 {
  width: 3px;
  height: 3px;
  opacity: 0.28271469;
  top: 28.14301352%;
  left: 50.94224005%;
  -webkit-animation-duration: 1.37091926s;
          animation-duration: 1.37091926s;
  -webkit-animation-delay: 0.83643236s;
          animation-delay: 0.83643236s;
}
.stars-cluster-3 .star-13 {
  width: 5px;
  height: 5px;
  opacity: 0.3450821;
  top: 66.38369719%;
  left: 45.06359149%;
  -webkit-animation-duration: 0.9098949s;
          animation-duration: 0.9098949s;
  -webkit-animation-delay: 0.97666394s;
          animation-delay: 0.97666394s;
}
.stars-cluster-3 .star-14 {
  width: 3px;
  height: 3px;
  opacity: 0.61120921;
  top: 63.95102092%;
  left: 91.99515327%;
  -webkit-animation-duration: 0.44268706s;
          animation-duration: 0.44268706s;
  -webkit-animation-delay: 0.49459956s;
          animation-delay: 0.49459956s;
}
.stars-cluster-3 .star-15 {
  width: 4px;
  height: 4px;
  opacity: 0.76453226;
  top: 98.85582845%;
  left: 11.56086377%;
  -webkit-animation-duration: 1.55097077s;
          animation-duration: 1.55097077s;
  -webkit-animation-delay: 0.39798682s;
          animation-delay: 0.39798682s;
}
/**
 * ----------------------------------------
 * @animation pulsate
 * ---------------------------------------
*/
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    opacity: .2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    opacity: .2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/**
 * ----------------------------------------
 * @animation shooting-star
 * ---------------------------------------
*/
@-webkit-keyframes shooting-star {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translate(400px, 200px);
            transform: translate(400px, 200px);
    opacity: 0;
  }
}
@keyframes shooting-star {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  20%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translate(400px, 200px);
            transform: translate(400px, 200px);
    opacity: 0;
  }
}
/**
 * ----------------------------------------
 * @animation shooting-star-2
 * ---------------------------------------
*/
@-webkit-keyframes shooting-star-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  10%,
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transform: translate(600px, 150px);
            transform: translate(600px, 150px);
    opacity: .3;
  }
}
@keyframes shooting-star-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  10%,
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-transform: translate(600px, 150px);
            transform: translate(600px, 150px);
    opacity: .3;
  }
}
