/* -----------------------------------
SLOWLY SIZE THE WINDOW HORIZONTALLY TO SEE THE ANIMATION CHANGE 
-------------------------------------*/


$grey: #576061;
$dkGrey: darken($grey, 10%);

html {
  background: #989494;
  width: 100vw;
  height: 100vh;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  color: $grey;
  line-height: 1.6em;
}

a, a:visited { 
  color: #148184;
  text-decoration: none;
  transition: 2s color ease;
}

a:hover, a:focus { 
  color: #32C8CC;
  text-decoration: none;
  transition: 2s color ease;
}

#paper {
  width: 600px;
  max-width: 600px;
  background: #fff;
  margin: 0 auto;
  padding: 50px 100px;
  height: 100vw;
  border: 1px solid $grey;
}

.instruction {
  background: #A05740;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 0.04em;
  color: #eee;
  position: fixed;
  z-index: 2000;
  bottom: 0;
  opacity: 0;
  width: 100%;
  animation: fade 2s ease both;
}

p.first { 
  font-size: 24px;
  line-height: 1.7em;
  padding-top: 15px;
}

h2 {
  color: $dkGrey;
  margin-top: 50px;
  font-weight: 600;
}

p.first:before, h2:before {
  content: "";
  display: block;
  width: 85px;
  height: 8px;
  background: $dkGrey;
  margin: 85px 0 20px 57%;
}

h2:before {
  margin: 50px 0 30px 0;
}

.initial { 
  width: 50%;
  float: left;
  margin: 0 7% 0 0;
}

.svg .fallback {
  display: none;
}

.no-svg .fallback { 
  width: 50%;
  float: left;
  margin: 0 7% 0 0;
  img { width: 100%; }
}

[class^="star"] {
  animation: blink 2s ease-in-out infinite both;
}

[class^="dot"] {
  animation: blink 5s -3s ease-in-out infinite both;
}

.a {
  animation: hover 5s ease-in-out infinite both;
}

[class^="mountain"], [class^="grass"] {
  animation: slant 9s ease-in-out infinite both;
  transform: skew(2deg);
}

.car {
  animation: carmove 22s ease-in-out infinite both;
}

@keyframes blink {
  50% { opacity: 0; }
}

@keyframes hover {
  50% { transform: translateY(-15px); }
}

@keyframes slant {
  50% { transform: skew(-2deg); }
}

@keyframes fade {
  100% { opacity: 0.95; }
}

@keyframes carmove {
  35% { transform: translateX(-300px); }
  55% { transform: translateX(-300px); }
  85% { transform: translateX(0px); }
}

@media screen and ( max-width: 500px ) {
  #paper { 
    padding: 50px 60px;
  }
  p.first:before {
    margin-top: 0 !important;
  }
  .kells2, .kells1 {
    display: none;
  }
  .a {
    animation: hover 2s ease-in-out infinite both;
  }
  .kells3 {
    display: block !important;
  }
  .mountain, [class^="mountain"], .grass, [class^="grass"] { 
    transform: skew(1.5deg) !important;
  }
}

@media screen and ( max-width: 700px ) {
  .kells3 {
    display: block;
  }
  .background {
    fill: #93A600;
    opacity: 0.57;
  }
  .bridge { transform: translateX(15px); }
  .mid-hide { display: none; }
  html { font-size: 14px; }
  p.first { 
    padding-top: 0px !important; 
    font-size: 19px;
  }
}

@media screen and ( min-width: 701px ) {
  .kells3, .kells2 {
    display: none;
  }
}

@media screen and ( max-width: 800px ) {
  #paper { 
    width: 70vw; 
    max-width: 70vw;
    height: 100%;
  }
}